.head{
    background-color: aquamarine;
    border: 3px solid red;
    text-align: center;
}
input{
    margin: 5px;
    color: blue;
}
div{
    margin: 10px;
    
}
p{
    background-color: rgb(21, 198, 151);
}